KartyMono/Connected Services/ServiceReference1/GraKarciana.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GraKarciana" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GraKarciana" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Urzytkownik">
    <xs:sequence>
      <xs:element minOccurs="0" name="Haslo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nazwa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Urzytkownik" nillable="true" type="tns:Urzytkownik" />
</xs:schema>