KartyMono/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GraKarciana" />
  <xs:element name="Loguj">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GraKarciana" minOccurs="0" name="uk" nillable="true" type="q1:Urzytkownik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogujResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogujResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Odświerz">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GraKarciana" minOccurs="0" name="ul" nillable="true" type="q2:Urzytkownik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pobierz">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="k" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PobierzResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GraKarciana" minOccurs="0" name="PobierzResult" nillable="true" type="q3:Urzytkownik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rejestruj">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GraKarciana" minOccurs="0" name="uk" nillable="true" type="q4:Urzytkownik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejestrujResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RejestrujResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>