WindowsFormsApp1/Connected Services/Tysioc/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Tysioc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITysioc_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GraKarciana" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITysioc_CzekajNaGracza_InputMessage">
    <wsdl:part name="parameters" element="tns:CzekajNaGracza" />
  </wsdl:message>
  <wsdl:message name="ITysioc_Licytuj_InputMessage">
    <wsdl:part name="parameters" element="tns:Licytuj" />
  </wsdl:message>
  <wsdl:message name="ITysioc_WyslijKarte_InputMessage">
    <wsdl:part name="parameters" element="tns:WyslijKarte" />
  </wsdl:message>
  <wsdl:message name="ITysioc_WyslijMusek_InputMessage">
    <wsdl:part name="parameters" element="tns:WyslijMusek" />
  </wsdl:message>
  <wsdl:message name="ITysioc_ZnalezionoNowychGraczy_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ZnalezionoNowychGraczy" />
  </wsdl:message>
  <wsdl:message name="ITysioc_TwojaLicytacja_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:TwojaLicytacja" />
  </wsdl:message>
  <wsdl:message name="ITysioc_Twojruch_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Twojruch" />
  </wsdl:message>
  <wsdl:message name="ITysioc_OdbierzKarty_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OdbierzKarty" />
  </wsdl:message>
  <wsdl:message name="ITysioc_KtosZalicytowal_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:KtosZalicytowal" />
  </wsdl:message>
  <wsdl:message name="ITysioc_KtosWyslalKarte_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:KtosWyslalKarte" />
  </wsdl:message>
  <wsdl:message name="ITysioc_KoniecGry_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:KoniecGry" />
  </wsdl:message>
  <wsdl:message name="ITysioc_PodsumowanieRozgrywki_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PodsumowanieRozgrywki" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ITysioc">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CzekajNaGracza">
      <wsdl:input wsaw:Action="http://tempuri.org/ITysioc/CzekajNaGracza" message="tns:ITysioc_CzekajNaGracza_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Licytuj">
      <wsdl:input wsaw:Action="http://tempuri.org/ITysioc/Licytuj" message="tns:ITysioc_Licytuj_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="WyslijKarte">
      <wsdl:input wsaw:Action="http://tempuri.org/ITysioc/WyslijKarte" message="tns:ITysioc_WyslijKarte_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="WyslijMusek">
      <wsdl:input wsaw:Action="http://tempuri.org/ITysioc/WyslijMusek" message="tns:ITysioc_WyslijMusek_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ZnalezionoNowychGraczy">
      <wsdl:output wsaw:Action="http://tempuri.org/ITysioc/ZnalezionoNowychGraczy" message="tns:ITysioc_ZnalezionoNowychGraczy_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TwojaLicytacja">
      <wsdl:output wsaw:Action="http://tempuri.org/ITysioc/TwojaLicytacja" message="tns:ITysioc_TwojaLicytacja_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Twojruch">
      <wsdl:output wsaw:Action="http://tempuri.org/ITysioc/Twojruch" message="tns:ITysioc_Twojruch_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OdbierzKarty">
      <wsdl:output wsaw:Action="http://tempuri.org/ITysioc/OdbierzKarty" message="tns:ITysioc_OdbierzKarty_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="KtosZalicytowal">
      <wsdl:output wsaw:Action="http://tempuri.org/ITysioc/KtosZalicytowal" message="tns:ITysioc_KtosZalicytowal_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="KtosWyslalKarte">
      <wsdl:output wsaw:Action="http://tempuri.org/ITysioc/KtosWyslalKarte" message="tns:ITysioc_KtosWyslalKarte_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="KoniecGry">
      <wsdl:output wsaw:Action="http://tempuri.org/ITysioc/KoniecGry" message="tns:ITysioc_KoniecGry_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PodsumowanieRozgrywki">
      <wsdl:output wsaw:Action="http://tempuri.org/ITysioc/PodsumowanieRozgrywki" message="tns:ITysioc_PodsumowanieRozgrywki_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITysioc" type="tns:ITysioc">
    <wsp:PolicyReference URI="#NetTcpBinding_ITysioc_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CzekajNaGracza">
      <soap12:operation soapAction="http://tempuri.org/ITysioc/CzekajNaGracza" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Licytuj">
      <soap12:operation soapAction="http://tempuri.org/ITysioc/Licytuj" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="WyslijKarte">
      <soap12:operation soapAction="http://tempuri.org/ITysioc/WyslijKarte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="WyslijMusek">
      <soap12:operation soapAction="http://tempuri.org/ITysioc/WyslijMusek" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ZnalezionoNowychGraczy">
      <soap12:operation soapAction="http://tempuri.org/ITysioc/ZnalezionoNowychGraczy" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TwojaLicytacja">
      <soap12:operation soapAction="http://tempuri.org/ITysioc/TwojaLicytacja" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Twojruch">
      <soap12:operation soapAction="http://tempuri.org/ITysioc/Twojruch" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OdbierzKarty">
      <soap12:operation soapAction="http://tempuri.org/ITysioc/OdbierzKarty" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KtosZalicytowal">
      <soap12:operation soapAction="http://tempuri.org/ITysioc/KtosZalicytowal" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KtosWyslalKarte">
      <soap12:operation soapAction="http://tempuri.org/ITysioc/KtosWyslalKarte" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KoniecGry">
      <soap12:operation soapAction="http://tempuri.org/ITysioc/KoniecGry" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PodsumowanieRozgrywki">
      <soap12:operation soapAction="http://tempuri.org/ITysioc/PodsumowanieRozgrywki" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tysioc">
    <wsdl:port name="NetTcpBinding_ITysioc" binding="tns:NetTcpBinding_ITysioc">
      <soap12:address location="net.tcp://localhost:8735/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8735/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>