WindowsFormsApp1/Connected Services/Tysioc/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GraKarciana" />
  <xs:element name="CzekajNaGracza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nr" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Licytuj">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pk" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WyslijKarte">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GraKarciana" minOccurs="0" name="k" type="q1:Karta" />
        <xs:element minOccurs="0" name="Melduj" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WyslijMusek">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GraKarciana" minOccurs="0" name="k" nillable="true" type="q2:ArrayOfKarta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZnalezionoNowychGraczy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GraKarciana" minOccurs="0" name="gracze" nillable="true" type="q3:ArrayOfUrzytkownik" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TwojaLicytacja">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Twojruch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OdbierzKarty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GraKarciana" minOccurs="0" name="karty" nillable="true" type="q4:ArrayOfKarta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KtosZalicytowal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cena" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KtosWyslalKarte">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GraKarciana" minOccurs="0" name="k" type="q5:Karta" />
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Melduj" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KoniecGry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GraKarciana" minOccurs="0" name="pk" nillable="true" type="q6:PodsumowanieTysioc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PodsumowanieRozgrywki">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GraKarciana" minOccurs="0" name="pk" nillable="true" type="q7:PodsumowanieTysioc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>